*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 1080px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6px;
    height: 60px;
}
nav a{
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    font-weight: 4oo;
    color: #202124;
    cursor: pointer;
    padding: 5px 6.7px;
}
nav a:hover {
    text-decoration: underline;
}
nav img{
    width: 26px;
    padding: 5px;
    margin: 16px 10px 16px;
    cursor: pointer;
}
nav img:hover {
    opacity: .8;
}
nav button {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    color: #fff;
    padding: 7px 12px;
    border-radius: 3px;
    margin-left: 7px;
    cursor: pointer;
}
.section1 {
    flex: 1;
}
.section1 .logo {
    flex-direction: column;
    text-align: center;
    display: block;
    margin-left: 41.3%;
    margin-top: 94px;

}